{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html data-theme="dracula">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% tailwind_css %}

        <!-- Flowbite CSS -->
        {% comment %} <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"  rel="stylesheet" /> {% endcomment %}
        <!-- Flatpickr CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

        <!-- Alertify CSS -->
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css"/>

        <!-- front for logo -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap" rel="stylesheet">
        {% block CSS %}
        <style>
            .allerta-stencil-regular {
                font-family: "Allerta Stencil", sans-serif;
                font-weight: 400;
                font-style: normal;
              }
        </style>
        {% endblock %}
    </head>

    <body class="bg-gray-800 font-sans min-h-screen flex-col">
        {% block nav %}
		{% endblock %}
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/th.js"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>
    <script>
        {% for flashmsg in messages %}
            alertify.set('notifier','position', 'top-right');
            alertify.{{ flashmsg.tags }}('{{ flashmsg }}');
        {% endfor %}
    </script>
    {% block script %}
    {% endblock %}
</html>
