{% block nav %}
    <!-- Navbar -->
    <nav class="bg-neutral h-16 p-4 flex justify-between items-center">
        <div class="text-4xl allerta-stencil-regular text-accent font-bold">FITMARK</div>
        <div class="text-2xl text-gray-400 flex space-x-0 items-stretch">
            {% if request.user.customer %}
            <a href="{% url 'booking' %}" class=" py-4 px-4 hover:text-accent">จองคลาส</a>
            <a href="{% url 'my_booking' %}" class=" py-4 px-4 hover:text-accent">การจองของฉัน</a>
            <a href="#" class=" py-4 px-4 hover:text-accent">สมาชิก</a>
            {% elif request.user.trainer %}
            <a href="{% url 'classes_schedule' %}" class=" py-4 px-4 hover:text-accent">ตารางคลาส</a>
            <a href="{% url 'manage_classes' %}" class=" py-4 px-4 hover:text-accent">จัดการคลาส</a>
            {% endif %}
        </div>
        <div class="flex items-center space-x-6">
            <span class="text-accent">{{ user.user.first_name }} {{ user.user.last_name }}</span>
            <a href="{% url 'logout' %}" class="flex text-red-400 hover:text-red-600">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out mr-3"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
                ออกจากระบบ
            </a>
        </div>
    </nav>
{% endblock %}
        